{% extends "base.html" %}
{% block content %}
    <h2>Available Quizzes</h2>

    <!--  Search Form -->
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Search quizzes..." value="{{request.GET.q}}">  <!--  name = "q": a parameter key that backend uses to filter -->
        <button type="submit">Search</button>
    </form>

    <!-- Paginated Quiz List (list of all quiz displayed on home page) -->
    <ul>
        
        {% for quiz in  quizzes %}
            <li>
                <a href="{% url 'quiz_detail' quiz.id %}">{{ quiz.title }}</a> <!--  Displays each quiz title as a clickable -->
            </li>
        {% empty %}
            <li>No quizzes found.</li>
        {% endfor %}
            
    </ul>

    <!-- Paginated Controls -->
    <div>
        {% if quizzes.has_previous %}
            <a href="?q={{ request.GET.q }} &page={{ quizzes.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ quizzes.number }} of {{ quizzes.paginator.num_pages }}</span>

        
        {% if quizzes.has_next %}
            <a href="?q={{ request.GET.q }} &page={{ quizzes.next_page_number }}">Next</a>
        {% endif %}
            
    </div>
{% endblock %}
